@font-face {
    font-family: EUROCAPS;
    src: url(EUROCAPS.TTF);
}

body {
    background-color: lightgray;
    background-image: url('images/SRV-Scarab.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: EUROCAPS;
}

h2 {
    font-size: 30px;
    text-shadow: 1px 1px lightgray;
}

p {
    font-size: 24px;
}

table {
    border-collapse: collapse;
    width: 100%;
    /*font-family: EUROCAPS;*/
    background-color: lightgray;
}

table, th, td {
    border: 1px solid black;
    text-align: left;
}

.buttonStyle {
    border: 1px solid black;
    background-color: darkgray;
    display: inline;
    padding: 0px 5px;
    cursor: pointer;
}

#settings {
    position: absolute;
    background-color: lightgray;
    border: 1px solid black;
}

.gridContainer {
    display: grid;
}

#header {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}

#infoPanel {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    padding-right: 10px;
}

#racePanel {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    width: 800px;
}

#commanderProfiles {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 3;
}

#courseContainer {
    background-color: black;
    color: white;
    width: 800px;
    height: 800px;
    display: block;
    resize: both;
    opacity: 0.9;
}

#courseCanvass {
    position: absolute;
    background-color: black;
    /*background-image: url("images/okorafor-bad-stretch.jpg");*/
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    width: 100%;
    height: 100%;
    display: block;
    font-family: Verdana;
    resize: both;
    overflow: hidden;
}

#courseWaypoints {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.waypointImage {
    position: relative;
    left: -50px;
    top: -50px;
}

.waypointInfo {
    display: block;
}

.waypoint {
    position: absolute;
    color: aqua;
    font-size: 12px;
    white-space: nowrap;
    margin: 0px;
    opacity: 0.4;
}

.waypoint p {
    font-size: 12px;
    position: absolute;
    left: 10px;
    top: 0px;
    text-shadow: 2px 2px black;
}

#courseParticipants {
    position: absolute;
    font-size: 10px;
    top: 0px;
    margin: 0px;
    left: 0px;
    z-index: 1;
}

.racerInfo {
    position: absolute;
    color: yellow;
    font-weight: bold;
    margin: 0px;
    width: 32px;
    height: 32px;
    background-blend-mode: screen;
    transition: left 2s, top 2s;
    transition-timing-function: linear;
}

.racerProfile {
    position: relative;
    color: orange;
    font-weight: bold;
    width: 128px;
    height: 32px;
    top: -32px;
    left: 34px;
}

.racerProfileRaceInfo {
    display: none;
    font-size: 10px;
    text-shadow: 1px 1px black;
    color: gray;
}

.racerProfile:hover > .racerProfileRaceInfo {
    display: block;
}

.commanderProfile {
    border: 1px solid black;
    font-size: 14px;
    margin: 2px;
    width: 440px;
}

.commanderProfileName {
    background-color: black;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.commanderProfileBio {
    font-size: 16px;
}

.commanderProfileStream {
    border: 1px solid black;
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    cursor: pointer;
}

.marquee {
    height: 50px;
    overflow: hidden;
    position: relative;
    color: black;
    border: 1px solid white;
    font-family: EUROCAPS;
    /*display: none;*/
}

    .marquee p {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        line-height: 50px;
        text-align: center;
        font-size: 30px;
        text-shadow: 4px 4px black;
        color: white;
        font-weight: bolder;
        /* Starting position */
        /*transform: translateX(100%);*/
        /* Apply animation to this element */
        /* animation: scroll-left 2s linear infinite;*/
    }


/* Move it (define the animation) */
@keyframes scroll-left {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}